@charset "UTF-8";

.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

header{
    display: flex;
    background-color: #094293;
}
header > img{
    display: flex;
    align-items: flex-start;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    max-height: 100px;
}

body{
    font-family: "M PLUS Rounded 1c", sans-serif;
 } 

 main{
    display: flex;
 }

 footer{
    display: flex;
    align-items: flex-end;
    background-color: #094293;
    
 }